/* =======================
   基本設定 (global.css)
======================= */

/* 全ての要素と疑似要素に box-sizing を適用 */
*,
::before,
::after {
  box-sizing: border-box;
}

/* コードブロックのスタイル */
pre {
  white-space: pre-wrap; /* テキストを折り返す */
}

/* =======================
   ベースのボディ設定 (base.css)
======================= */

body {
  background: #e8f0f2; /* 背景色 */
  color: rgba(0, 0, 0, 0.8); /* 文字色 */
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", "DejaVu Serif", serif; /* フォント設定 */
  font-size: 100%; /* 基本フォントサイズ */
  line-height: 1; /* 行間 */
  position: relative; /* 位置設定 */
  cursor: auto; /* カーソル設定 */

  /* タブのサイズ設定 */
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  word-wrap: anywhere; /* 単語の折り返し */

  /* フォントスムージング */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
