/* 基本的なテキストスタイル */
a {
  color: #2156a5;
  text-decoration: underline;
  line-height: inherit;
}
a:hover,
a:focus {
  color: #1d4b8f;
}
a img {
  border: 0;
}

/* ヘッダーのスタイル */
h1,
h2,
h3,
h4,
h5,
h6,
#toctitle,
.sidebarblock > .content > .title {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ba3925;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  word-spacing: -0.05em;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
#toctitle small,
.sidebarblock > .content > .title small {
  font-size: 60%;
  color: #e99b8f;
  line-height: 0;
}

h1 {
  font-size: 2.125em;
}
h2 {
  font-size: 1.6875em;
}
h3,
#toctitle,
.sidebarblock > .content > .title {
  font-size: 1.375em;
}
h4,
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 1em;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
#toctitle strong,
.sidebarblock > .content > .title strong {
  font-weight: 400;
}

/* コード */
code {
  font-family: "Droid Sans Mono", "DejaVu Sans Mono", monospace;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

/* 段落 */
p {
  line-height: 1.6;
  margin-bottom: 1.25em;
}

/* メディアクエリ */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.75em;
  }
  h2 {
    font-size: 2.3125em;
  }
  h3,
  #toctitle,
  .sidebarblock > .content > .title {
    font-size: 1.6875em;
  }
  h4 {
    font-size: 1.4375em;
  }
}
